<h1>New Content Item</h1>

<%= render 'form', content_item: @content_item %>

<div>
	<%= form_with(url: '/search_form', method: 'get', local: true) do %>
  		<%= text_field_tag(:search) %>
  		<label>Network</label>
  		<%= text_field_tag(:network) %>
  		<%= submit_tag("Go") %>
	<% end %>
</div>

<div>
	<%= month_calendar(events: @content_items) do |date, content_items| %>
  		<%= date %>
  		<% content_items.each do |content_item| %>
    		<div>
      			<%= content_item.content_title %> | <%= content_item.publishing_target %>
    		</div>
  		<% end %>
	<% end %>
</div>